In [82]:
import pandas as pd
import numpy as np

df = pd.read_csv(r'C:\Users\hiennpd3\OneDrive - VPBank\AA Team\2. TD forecast model\3. Architecture\Package\test_TDmodel.csv',skip_blank_lines=True)

# Preprocess timestamp column (PERIOD)
df['PERIOD'] = pd.to_datetime(df['PERIOD'])  # Convert to datetime data type
df['Year'] = df['PERIOD'].dt.year  # Extract year as a feature
df['Month'] = df['PERIOD'].dt.month  # Extract month as a feature

df

,PERIOD,PRODUCT_GROUP,movement_type,EOP_LM,EOP_CM,NET,Term_CM,Term_LM,Currency_2,TD_type,CIE_VOL,ADB_VOL,VOF_VOL,NII_VOL,Year,Month
0,2023-10-01,TD,4UNCHANGED_AUTOROLL,389.570069,389.570069,0.000000,12-18M,12-18M,VND,AUTOROLL,-42057.039450,5.545051e+06,49835.134810,0,2023,10
1,2023-10-01,TD,5NEW_AUTOROLL,0.000000,16.185306,16.185306,6-9M,NaN,VND,AUTOROLL,-59980.022560,9.612848e+06,70227.085690,0,2023,10
2,2023-10-01,TD,4UNCHANGED_AUTOROLL,0.000000,0.000000,0.000000,6-9M,NaN,VND,AUTOROLL,-239920.090200,3.845139e+07,280908.342800,0,2023,10
3,2019-05-01,TD,2NEW,0.000000,6.637863,6.637863,1-3M,NaN,NON-VND,NOT_ROLL,-10.878805,1.447441e+06,72.061706,0,2019,5
4,2022-02-01,TD,1UNCHANGED,4.429328,4.429328,0.000000,From 18M,From 18M,VND,NOT_ROLL,-354.357794,6.481715e+04,406.574523,0,2022,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23287,2023-12-01,TD,6ROLL_AUTOROLL,30.607771,31.992735,1.384964,6-9M,6-9M,VND,AUTOROLL,0.000000,0.000000e+00,0.000000,0,2023,12
23288,2024-01-01,TD,4UNCHANGED_AUTOROLL,45.180000,45.180000,0.000000,12-18M,12-18M,VND,AUTOROLL,0.000000,0.000000e+00,0.000000,0,2024,1
23289,2024-01-01,TD,1NEW_NOTROLL,0.000000,37.290558,37.290558,12-18M,NaN,VND,NOT_ROLL,0.000000,0.000000e+00,0.000000,0,2024,1
23290,2023-11-01,TD,1NEW_NOTROLL,0.000000,1.360058,1.360058,10-11M,NaN,VND,NOT_ROLL,0.000000,0.000000e+00,0.000000,0,2023,11
23291,2018-11-01,TD,6OTHERS,0.004780,0.005336,0.000556,From 18M,From 18M,VND,NOT_ROLL,0.000000,0.000000e+00,0.000000,0,2018,11

In [88]:
categorical_cols = ['PRODUCT_GROUP', 'movement_type', 'Term_CM', 'Term_LM', 'Currency_2', 'TD_type']

# Encode categorical variables using one-hot encoding
encoded_df = pd.get_dummies(df, columns=categorical_cols, drop_first=True)   

encoded_df

,PERIOD,EOP_LM,EOP_CM,NET,CIE_VOL,ADB_VOL,VOF_VOL,NII_VOL,Year,Month,...,Term_CM_From 18M,Term_CM_less than 1M,Term_LM_10-11M,Term_LM_12-18M,Term_LM_4-5M,Term_LM_6-9M,Term_LM_From 18M,Term_LM_less than 1M,Currency_2_VND,TD_type_NOT_ROLL
0,2023-10-01,389.570069,389.570069,0.000000,-42057.039450,5.545051e+06,49835.134810,0,2023,10,...,False,False,False,True,False,False,False,False,True,False
1,2023-10-01,0.000000,16.185306,16.185306,-59980.022560,9.612848e+06,70227.085690,0,2023,10,...,False,False,False,False,False,False,False,False,True,False
2,2023-10-01,0.000000,0.000000,0.000000,-239920.090200,3.845139e+07,280908.342800,0,2023,10,...,False,False,False,False,False,False,False,False,True,False
3,2019-05-01,0.000000,6.637863,6.637863,-10.878805,1.447441e+06,72.061706,0,2019,5,...,False,False,False,False,False,False,False,False,False,True
4,2022-02-01,4.429328,4.429328,0.000000,-354.357794,6.481715e+04,406.574523,0,2022,2,...,True,False,False,False,False,False,True,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23287,2023-12-01,30.607771,31.992735,1.384964,0.000000,0.000000e+00,0.000000,0,2023,12,...,False,False,False,False,False,True,False,False,True,False
23288,2024-01-01,45.180000,45.180000,0.000000,0.000000,0.000000e+00,0.000000,0,2024,1,...,False,False,False,True,False,False,False,False,True,False
23289,2024-01-01,0.000000,37.290558,37.290558,0.000000,0.000000e+00,0.000000,0,2024,1,...,False,False,False,False,False,False,False,False,True,True
23290,2023-11-01,0.000000,1.360058,1.360058,0.000000,0.000000e+00,0.000000,0,2023,11,...,False,False,False,False,False,False,False,False,True,True
23291,2018-11-01,0.004780,0.005336,0.000556,0.000000,0.000000e+00,0.000000,0,2018,11,...,True,False,False,False,False,False,True,False,True,True

In [89]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Prepare the input features (X) and target variable (y)
X = encoded_df.drop(['NET', 'PERIOD','CIE_VOL','ADB_VOL', 'VOF_VOL', 'NII_VOL'], axis=1)
y = encoded_df['NET']

## MÃ´ hÃ¬nh sá»­ dá»¥ng Ä‘Æ¡n thuáº§n linear

MÃ´ hÃ¬nh linear regression dá»± Ä‘oÃ¡n NET dá»±a trÃªn táº­p dá»¯ liá»‡u gá»“m:
- Period
- Movement_type
- Term_LM
- Term_CM
- EOP_LM
- EOP_CM

Cho ra káº¿t quáº£ tá»‘t nháº¥t táº¡i:

In [92]:
import pandas as pd
from sklearn.metrics import mean_squared_error

# Chuáº©n bá»‹ cÃ¡c Ä‘áº·c trÆ°ng Ä‘áº§u vÃ o (X) vÃ  biáº¿n má»¥c tiÃªu (y)
X = encoded_df.drop(['NET', 'PERIOD','CIE_VOL','ADB_VOL', 'VOF_VOL', 'NII_VOL'], axis=1)
y = encoded_df['NET']

best_r2 = -1
best_seed = None

results = []

for size in (0.6, 0.7, 0.8, 0.9):
    best_r2_train = -1
    best_r2_test = -1
    best_seed = None
    
    for seed in range(100):
        X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=size, random_state=seed)
        model = LinearRegression()
        model.fit(X_train, y_train)
        y_train_pred = model.predict(X_train)
        y_test_pred = model.predict(X_test)
        
        r2_train = r2_score(y_train, y_train_pred)
        r2_test = r2_score(y_test, y_test_pred)
        mse_test = mean_squared_error(y_test, y_test_pred)
        
        if r2_train > best_r2_train:
            best_r2_train = r2_train
            best_r2_test = r2_test
            best_seed = seed
    
    results.append([size, best_r2_train, best_r2_test, mse_test, best_seed])


df_results = pd.DataFrame(results, columns=['Train Size', 'Best R-squared Train', 'Best R-squared Test', 'Mean Square Error', 'Best Seed'])
df_results

,Train Size,Best R-squared Train,Best R-squared Test,Mean Square Error,Best Seed
0,0.6,1.0,1.0,9.035156e-15,0
1,0.7,1.0,1.0,6.943768e-15,0
2,0.8,1.0,1.0,9.989647e-15,0
3,0.9,1.0,1.0,1.237960e-15,0

## MÃ´ hÃ¬nh sá»­ dá»¥ng Ä‘Æ¡n thuáº§n linear

MÃ´ hÃ¬nh linear regression dá»± Ä‘oÃ¡n NET dá»±a trÃªn táº­p dá»¯ liá»‡u gá»“m:
- Period
- Movement_type
- Term_LM
- Term_CM
- EOP_LM

In [105]:
df_2 = df.drop(['EOP_CM', 'CIE_VOL', 'ADB_VOL', 'VOF_VOL', 'NII_VOL'], axis=1)
df_2 = df_2.groupby(['PERIOD', 'PRODUCT_GROUP', 'movement_type', 'NET', 'Term_CM', 'Term_LM', 'Currency_2', 'TD_type', 'Year', 'Month']).agg({'EOP_LM': 'sum'}).reset_index()
df_2 = df_2[df_2['NET'] != 0]

categorical_cols = ['PRODUCT_GROUP', 'movement_type', 'Term_CM', 'Term_LM', 'Currency_2', 'TD_type']

# Encode categorical variables using one-hot encoding
encoded_df = pd.get_dummies(df_2, columns=categorical_cols, drop_first=True)   
encoded_df

,PERIOD,NET,Year,Month,EOP_LM,movement_type_2SCHE_NOTROLL,movement_type_3PREMATURE_NOTROLL,movement_type_3ROLL,movement_type_4PREMATURE,movement_type_4SCHEDULE,...,Term_CM_From 18M,Term_CM_less than 1M,Term_LM_10-11M,Term_LM_12-18M,Term_LM_4-5M,Term_LM_6-9M,Term_LM_From 18M,Term_LM_less than 1M,Currency_2_VND,TD_type_NOT_ROLL
8,2018-11-01,-0.003207,2018,11,2.995163,False,False,False,False,False,...,True,False,False,False,False,False,True,False,False,True
9,2018-11-01,-0.000880,2018,11,0.821744,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
10,2018-11-01,-0.000324,2018,11,0.302948,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,True
11,2018-11-01,0.000002,2018,11,0.003000,False,False,False,False,False,...,False,True,False,False,False,False,False,True,True,True
12,2018-11-01,0.000441,2018,11,0.574493,False,False,False,False,False,...,False,True,False,False,False,False,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14034,2024-01-01,38.888925,2024,1,79.337015,False,False,False,False,False,...,False,False,False,True,False,False,False,False,True,False
14035,2024-01-01,50.495526,2024,1,97.397824,False,False,False,False,False,...,False,False,False,False,False,True,False,False,True,False
14036,2024-01-01,53.272542,2024,1,0.011358,False,False,False,False,False,...,False,False,False,False,False,True,False,False,True,True
14037,2024-01-01,93.749000,2024,1,0.000000,False,False,False,False,False,...,False,False,False,True,False,False,False,False,True,False
14038,2024-01-01,153.627653,2024,1,74.670136,False,False,False,False,False,...,False,False,False,False,False,True,False,False,True,True

In [108]:
# Chuáº©n bá»‹ cÃ¡c Ä‘áº·c trÆ°ng Ä‘áº§u vÃ o (X) vÃ  biáº¿n má»¥c tiÃªu (y)
X = encoded_df.drop(['NET', 'PERIOD','EOP_LM'], axis=1)
y = encoded_df['NET']

best_r2 = -1
best_seed = None

results = []

for size in (0.6, 0.7, 0.8, 0.9):
    best_r2_train = -1
    best_r2_test = -1
    best_seed = None
    
    for seed in range(100):
        X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=size, random_state=seed)
        model = LinearRegression()
        model.fit(X_train, y_train)
        y_train_pred = model.predict(X_train)
        y_test_pred = model.predict(X_test)
        
        r2_train = r2_score(y_train, y_train_pred)
        r2_test = r2_score(y_test, y_test_pred)
        mse_test = mean_squared_error(y_test, y_test_pred)
        
        if r2_train > best_r2_train:
            best_r2_train = r2_train
            best_r2_test = r2_test
            best_seed = seed
    
    results.append([size, best_r2_train, best_r2_test, mse_test, best_seed])


df_results = pd.DataFrame(results, columns=['Train Size', 'Best R-squared Train', 'Best R-squared Test', 'Mean Square Error', 'Best Seed'])
df_results

,Train Size,Best R-squared Train,Best R-squared Test,Mean Square Error,Best Seed
0,0.6,0.042248,0.009093,1.138380e+06,81
1,0.7,0.041272,0.008216,1.383050e+06,11
2,0.8,0.035033,0.004538,1.951262e+06,73
3,0.9,0.032854,0.002969,3.216884e+06,58

In [109]:
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
import pandas as pd

# Chuáº©n bá»‹ cÃ¡c Ä‘áº·c trÆ°ng Ä‘áº§u vÃ o (X) vÃ  biáº¿n má»¥c tiÃªu (y)
X = encoded_df.drop(['NET', 'PERIOD', 'EOP_LM'], axis=1)
y = encoded_df['NET']

best_r2 = -1
best_seed = None

results = []

for size in (0.6, 0.7, 0.8, 0.9):
    best_r2_train = -1
    best_r2_test = -1
    best_seed = None
    
    for seed in range(100):
        X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=size, random_state=seed)
        
        # Táº¡o vÃ  huáº¥n luyá»‡n mÃ´ hÃ¬nh XGBoost
        model = xgb.XGBRegressor()
        model.fit(X_train, y_train)
        y_train_pred = model.predict(X_train)
        y_test_pred = model.predict(X_test)
        
        r2_train = r2_score(y_train, y_train_pred)
        r2_test = r2_score(y_test, y_test_pred)
        mse_test = mean_squared_error(y_test, y_test_pred)
        
        if r2_train > best_r2_train:
            best_r2_train = r2_train
            best_r2_test = r2_test
            best_seed = seed
    
    results.append([size, best_r2_train, best_r2_test, mse_test, best_seed])

df_results = pd.DataFrame(results, columns=['Train Size', 'Best R-squared Train', 'Best R-squared Test', 'Mean Square Error', 'Best Seed'])
df_results

,Train Size,Best R-squared Train,Best R-squared Test,Mean Square Error,Best Seed
0,0.6,0.153689,-0.148042,1.189192e+06,62
1,0.7,0.139935,-0.109150,1.390336e+06,62
2,0.8,0.128239,-0.125115,1.930218e+06,62
3,0.9,0.099806,-0.023708,3.156704e+06,78

## MÃ´ hÃ¬nh sá»­ dá»¥ng lasso

In [93]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso
from sklearn.metrics import r2_score, mean_squared_error

# Chuáº©n bá»‹ cÃ¡c Ä‘áº·c trÆ°ng Ä‘áº§u vÃ o (X) vÃ  biáº¿n má»¥c tiÃªu (y)
X = encoded_df.drop(['NET', 'PERIOD','CIE_VOL','ADB_VOL', 'VOF_VOL', 'NII_VOL'], axis=1)
y = encoded_df['NET']

best_r2 = -1
best_seed = None

results = []

for size in (0.6, 0.7, 0.8, 0.9):
    best_r2_train = -1
    best_r2_test = -1
    best_seed = None
    
    for seed in range(100):
        X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=size, random_state=seed)
        model = Lasso(alpha=0.1)  # Thay Ä‘á»•i giÃ¡ trá»‹ alpha theo nhu cáº§u
        model.fit(X_train, y_train)
        y_train_pred = model.predict(X_train)
        y_test_pred = model.predict(X_test)
        
        r2_train = r2_score(y_train, y_train_pred)
        r2_test = r2_score(y_test, y_test_pred)
        mse_test = mean_squared_error(y_test, y_test_pred)
        
        if r2_train > best_r2_train:
            best_r2_train = r2_train
            best_r2_test = r2_test
            best_seed = seed
    
    results.append([size, best_r2_train, best_r2_test, mse_test, best_seed])

# Táº¡o DataFrame tá»« káº¿t quáº£
df_results = pd.DataFrame(results, columns=['Train Size', 'Best R-squared Train', 'Best R-squared Test', 'Mean Square Error', 'Best Seed'])
df_results

,Train Size,Best R-squared Train,Best R-squared Test,Mean Square Error,Best Seed
0,0.6,1.0,1.0,0.601384,51
1,0.7,1.0,1.0,0.598503,37
2,0.8,1.0,1.0,0.865768,42
3,0.9,1.0,1.0,0.295868,99